---
layout: post
title: "My Results from the Big Five Personality Test"
excerpt: "The Big Five Personality Test measures scores on the five major dimensions of personality: Openness, Conscientiousness, Extraversion, Agreeableness, and Neuroticism."
date: 2019-01-21
permalink: /posts/my-big-five-personality-test-results
comments: true
---


The Big Five assessment measures scores on five major dimensions of personality: Openness, Conscientiousness, Extraversion, Agreeableness, and Neuroticism (sometimes abbreviated OCEAN).

Check out my scores on each of the five dimensions below, then read on to discover what each score means. If you would like to take the test for yourself, visit the [Truity Psychometrics](https://www.truity.com/test/big-five-personality-test) website.

&nbsp;

## My Five Factors of Personality

![Josh Beard Big Five Personality Test Results OCEAN](/img/jb-personality-test-results-OCEAN.png)

**Openness:** 81%  
**Conscientiousness:** 62.5%  
**Extraversion:** 50%  
**Agreeableness:** 71%  
**Neuroticism:** 23%  

&nbsp;

### Openness

*Openness describes an individual’s tendency to think in complex, abstract ways. People who are high in Openness are abstract thinkers, while people who are low in Openness are concrete thinkers.*

#### Where I fit in

![Josh Beard Big Five Personality Test Results for Openness](/img/jb-personality-test-results-Openness.png)

As a person high in Openness, I am more able than the average person to connect seemingly unrelated concepts. This makes me more creative and imaginative than average, and more likely to appreciate unusual ideas.

Because I am high in Openness, I am more likely to appreciate art, music, and various cultural activities. I may notice that I am more interested in such things than the average person. My mind is better able to process loosely connected ideas, and so I am more apt to appreciate, say, a sculpture of an elephant built out of forks. While many people would find such a thing bizarre, I enjoy considering the meaning of things and working to understand how seemingly unrelated ideas might be connected.

People high in Openness tend to have an interest in novel ideas, and so are more likely to be politically progressive. However, Openness does not always correlate with a liberal stance; people high in Openness might equally be drawn to libertarianism, for instance, as a novel political ideology.

A very high degree of Openness has been shown to correlate with experiences of unusual phenomena, including hallucinations, extrasensory perception, and a belief in magic or the supernatural. Although not everyone who is high in Openness will have such experiences, as a person with a high degree of this trait, I am more likely to feel the mysterious forces of the universe at work.

&nbsp;

### Conscientiousness

*Conscientiousness describes a person’s tendency to be persistent and determined in achieving their goals. People who are high in Conscientiousness tend to work hard to put their plans into action, while people who are low in this trait tend to change course and get distracted easily.*

#### Where I fit in

![Josh Beard Big Five Personality Test Results for Conscientiousness](/img/jb-personality-test-results-Conscientiousness.png)

Because I am moderate in Conscientiousness, I can assume that I have about as much self-control as the average person. I am probably fairly good at following through with my plans, although I am occasionally distracted and sometimes make impulsive decisions.

My level of personal organization is likely to be average. I probably keep some areas of my life in better order than others. I may make a special effort to be organized at work, where it is more crucial, while letting myself slack a bit at home. An average amount of disorder does not bother me, although I may feel disconcerted if my surroundings are in total disarray. I may benefit from using organizational systems and tools to impose more structure on the way I do things.

I am fairly careful and cautious in making decisions and usually do not make very poor or impulsive choices. I generally consider the major pros and cons of a decision before going forward, although sometimes I just go with my gut.

I am somewhat goal-oriented in my life. I set a moderate number of goals for myself, and I am fairly determined in pursuing them. I may abandon goals which seem too difficult to achieve, or which I lose interest in over time. However, when something is important to me, I am able to muster the persistence to keep at it.

&nbsp;

### Extraversion

*Extraversion describes a person’s tendency to be energized by being around other people versus being by oneself. Extraverts are energized by socializing with others, while Introverts (people low in Extraversion) are energized by spending time alone.*

#### Where I fit in

![Josh Beard Big Five Personality Test Results for Extraversion](/img/jb-personality-test-results-Extraversion.png)

As a person who is moderate in Extraversion, my experience of positive emotions is about average. I feel joy, excitement, and enthusiasm about as much as most people do.

Because I am moderately Extraverted, I have a typical response to positive stimuli. I get excited when I see the opportunity to do something particularly fun or rewarding, but I do not spend my life chasing thrills like a more Extraverted person might. I enjoy making new friends, but may not always feel up to socializing with lots of new people.

I probably identify equally as both an Extravert and an Introvert. I do not consider myself socially awkward, but I may struggle with making small talk or confronting large groups of strangers. I am probably a bit uncomfortable being the center of attention. I like a balance of time spent with other people and time spent alone.

&nbsp;

### Agreeableness

*Agreeableness describes an individual’s tendency to put the needs of others ahead of their own needs. Highly Agreeable people are mostly concerned with getting along with others. People low in Agreeableness are mostly concerned with serving their own interests.*

#### Where I fit in

![Josh Beard Big Five Personality Test Results for Agreeableness](/img/jb-personality-test-results-Agreeableness.png)

I am moderate in Agreeableness, and feel an average amount of empathy for others. I generally have a sense of what others are feeling, and show about as much concern as a typical person.

As a person who is moderately Agreeable, I am probably more compassionate in some situations than in others. I may care mostly about people who are close to me—family members, friends, and perhaps people in my immediate community. People who I do not know, or people very removed from me (for instance, people in other countries) may not attract much of my attention. Or, I may feel more compassion in situations of extreme suffering, while being less concerned about the everyday problems of others.

Because I am moderate in Agreeableness, when my needs are in conflict with the needs of others, I weight both sides equally. I am rarely willing to completely give up my agenda in favor of another person’s, but neither do I want to completely overpower the negotiation.

&nbsp;

### Neuroticism

*Neuroticism describes an individual’s response to stress. Highly Neurotic people are susceptible to anxiety, depression, anger, and other negative emotions when subjected to stressful conditions. People low in Neuroticism resist stress and tend not to experience many negative emotions.*

#### Where I fit in

![Josh Beard Big Five Personality Test Results for Neuroticism](/img/jb-personality-test-results-Neuroticism.png)

As a person who is low in Neuroticism, I experience less negative emotion than the average person. I rarely feel anxious, sad, or self-conscious, and are not troubled much by negative thoughts.

Because I am low in Neuroticism, I rarely interpret my environment as dangerous or threatening. In situations where others might become fearful, I feel that there is no reason to fret. I rarely worry about how things will turn out and go about my business without fear of negative consequences.

I am highly resilient under stress. Situations that would cause others anxiety do not tend to have the same effect on me. I am able to handle stressful life circumstances without becoming overly affected. Although I am not immune to mental health issues, I am much less likely than the average person to develop a condition like anxiety or depression.

&nbsp;

&nbsp;

## My Personality Patterns

*Your personality traits interact to create unique patterns of thought and behavior. In this section, you'll learn how my traits create key synergies that drive the way I think and live.*

*To describe my personality patterns, we use a circular graph called a circumplex. The circumplex is used by psychologists to illustrate how two traits intersect to create more complex patterns of thought and behavior.*

&nbsp;

### Core Pattern

This circumplex describes the essential role I take on in approaching the world. This role is a reflection of my core values and motivations, as well as the way I think about things.

![Josh Beard Results for Core Pattern](/img/jb-personality-test-core-pattern.png)

&nbsp;

### Communication Pattern

This circumplex describes how I communicate my thoughts, experiences, and ideas to others. My pattern reflects the information I choose to communicate as well as my style in doing so.

![Josh Beard Results for Communication Pattern](/img/jb-personality-test-communication-pattern.png)

&nbsp;

### Productivity Pattern

This circumplex describes my style in approaching tasks and activities. My pattern shows which tasks are most likely to attract my attention and effort.

![Josh Beard Results for Productivity Pattern](/img/jb-personality-test-productivity-pattern.png)

&nbsp;

&nbsp;

## My Traits in Action

Now we'll look at how my personality traits express themselves in all areas of life, from my daily routine to my relationships and my work life. Each section covers one key area and explains how my individual traits influence my experiences in this aspect of life.

&nbsp;

### Inner Life

*Your personality governs the most fundamental things about you, including how you think, what you value, and what motivates you. This section explores how my traits drive my internal life.*

**How does my mind work?**

I have a highly creative and imaginative way of thinking and I often see connections that others do not. I am uninterested in the dull facts of a situation, preferring instead to interpret its meaning and implications. I have unusual ideas and sometimes perceive things that other people are not aware of. I am easily absorbed by fantasy and enjoy envisioning alternate realities as well as possibilities for the future.

**What do I value?**

My ideal world is a kind, equitable one, where people treat each other fairly and with compassion. I value justice and mercy in equal measure, believing that people should be forgiven when it is reasonable to do so. I do my best to make the world a better place, although I also work toward my own personal achievements. I want to distinguish myself, but I do not want to step on any toes to do so.

I have a genuine love of ideas, and value originality, creativity, and imagination. It is important to me to have consistent opportunities to learn new things and improve my mind. I value intellectual challenge, depth of thought, and insight. Because of my interest in enlightenment and novel ideas, I place great value on artistic and cultural endeavors. I believe that the improvement of the mind is an important and worthy goal.

**What motivates me?**

I am motivated by achievement as well as by enjoyment. I have some core life goals which I am willing to work hard for, however I also try to have plenty of fun. I am persistent and driven when it matters, working steady to achieve my plans. However, I am not entirely motivated by achievement; I also want to enjoy the ride.

I am motivated equally by external and by internal rewards. Externally, I am somewhat interested in gaining the attention, admiration, and respect of others. However, I am not overly dependent on attention, as I am equally motivated by my own personal interests. Apart from what others may take note of, I am motivated to achieve my own individual goals, and I spend a good deal of time on activities that I enjoy for my own personal reasons.

I am most motivated when I have the opportunity to create something new. Rote, routine tasks are supremely uninteresting to me, and I am rarely able to stir up any excitement for activities that are straightforward. However, when I am asked to innovate, I will marshal all my resources to come up with a novel, original idea.

&nbsp;

### Social Life

*Your traits drive the way you relate to others—people in general, as well as friends and loved ones. Your traits affect the way others see you, what you seek out in connections with others, and the common themes that tend to arise for you across all your relationships.*

**What do I need from my relationships?**

I am generally sociable, but I also appreciate alone time. I like a balance of time with others and time to do my own thing. I appreciate friends and family members who are ready to socialize, but who also allow me time to be by myself.

I do not usually demand a lot of attention from my friends and loved ones. I don’t mind letting others have the spotlight, so long as they are willing to share it occasionally.

I need relationships which are supportive but not overwhelming. I expect my friends to be there for me in times of need, and will happily return the favor. However, I also appreciate my independence, and I want some element of freedom to do my own thing without getting a group consensus. I can be competitive with my friends, and sometimes like to feel challenged by the people around me. Ultimately, though, I want a sense of trust and comfort from my relationships.

**What kinds of people do I connect with?**

I tend to seek out relationships with people who I feel will help me to grow or learn in some way. I am not afraid of developing friendships with people who have different views or life experiences, as I am eager to learn from diverse viewpoints. On the other hand, I avoid people who I perceive as boring, close-minded, or conformist. People who cannot discuss interesting ideas are of no interest to me.

I seek out supportive friendships with a good balance of give and take. I prefer friends who are caring but mostly self-sufficient; overly needy people will tend to exhaust my kindness. I don’t mind being around people who are a bit tough or challenging, but I avoid overly aggressive or selfish people, as I am wary of being taken advantage of.

**What kind of friend am I?**

I am a caring friend who is concerned with the needs and feelings of those who are close to me. I am supportive when my friends need me, although I rarely allow them to wallow. I want to enjoy my social time, and I may run out of patience for people who are overly needy.

I am good at taking care of my relationships while also maintaining my boundaries. While I believe in being kind and helpful, I do not believe in being a doormat. I may be very accommodating to people I care about, but I rarely let myself be taken advantage of.

I am usually friendly, but sometimes more reserved or aloof. I tend to be most outgoing when I am surrounded by people I know well or those that I have something in common with. When I have a friend in common or a shared interest, I usually do not hesitate to reach out to make a new acquaintance. Although I may not describe myself as a social butterfly, I probably have a healthy circle of friends and acquaintances. I am good at keeping in touch with people while also giving them their space.

&nbsp;

### Work Life

*The type of work you choose, whether you find it satisfying, and even the jobs you'll be talented at are all heavily influenced by your personality traits. Understanding who you are can help you to choose a career that suits you. If you've already chosen your career path, you can gain a better understanding of the jobs, roles, and workplaces that will suit you based on your personality traits.*

**What do I want out of my career?**

I seek a job that will allow me to feel successful while balancing my personal life. Although I am ambitious, I do not want an overly demanding career; I want to be able to earn a good living while still enjoying my free time. My career is an important part of my identity, but not the only part.

I seek a job that is consistent with my values and allows me to feel good about what I do each day, while still allowing me a measure of personal success. I probably do not desire to work in a helping occupation such as teaching or nursing, but neither do I want a career that is completely meaningless or, worse, actually detrimental to society. I want to use my talents in a way that allows me to achieve success and feel positively about my contribution to the world.

I want to get along with my coworkers and appreciate feeling that I have a good rapport. I enjoy competition sometimes, but in general, I like a cooperative atmosphere.

I seek a career that is intellectually challenging and allows me to use the full capacities of my mind. I enjoy working with complex, multi-layered concepts and solving knotty problems.

I dislike routine and repetition in my work, and want the freedom to try new approaches and learn about new things. Because of my need for variety and intellectual growth, I am prone to changing jobs or even careers when I feel I am stagnating. I am most satisfied with my work when I feel I am able to develop within my career and continually explore new horizons.

**What are my natural talents?**

I am good at transitioning between working with a team and working independently. I will be especially good at jobs that require a mix of group work and individual work. On a team, I am good at contributing without demanding attention or control. When working independently, I am able to focus well on the task at hand while still tolerating the occasional interruption. I am comfortable being both a leader or a follower, as the situation demands.

I am good at thinking about things in novel, creative ways. I will often come up with ideas that are totally unexpected and offer a fresh take on old problems. I am forward-thinking and keep the big picture in mind. I excel at positions that require creativity, imagination, and innovation.

I am good at balancing a focus on tasks and a focus on people at work. I am most likely known as a cooperative teammate, but I do not let my relationships at work take priority over doing my job. I prioritize getting my work done, but make sure that I also take time to appreciate the people I work with.

I am good at maintaining balance in my workload, putting in extra time when it is needed, and taking time to relax when I have fewer responsibilities. Although I can be highly productive when I am working on an especially interesting or demanding project, for the most part, I work at a steady pace with ample time for rest. I am not prone to workaholism, but still do what needs to be done.

**What kinds of roles and workplaces suit me?**

I like to work with smart, imaginative, unconventional people in an environment that encourages new ideas. Overly traditional or process-oriented workplaces bore me, as I want to be able to bring originality to my work. I may be drawn to careers in the arts, technology, the sciences, or in more creative areas and industries of the business world. Whatever I choose, I want a role where my vision is appreciated.

My ideal job allows me to work regularly with like-minded people and have opportunities to exchange thoughts and ideas. I also want to have the freedom to work on projects independently, as I sometimes do my best work alone. Workplaces and jobs which encourage teamwork and independent work in equal measure will be a good fit for me.

&nbsp;
